@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Post";
}
@using System.Globalization;
@using WebApplication1.ViewModels
@model (IEnumerable<MainPose>, CreateMainPoseViewModel, CreateCommentViewModel)

@* @model IEnumerable<MainPose> *@

<link rel="stylesheet" href="~/css/post.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@*<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>*@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">


<script src="~/js/post.js"></script>


<div id="CT" class="container-fluid ">

    <div class="row">
        <a asp-action="CreateMainPose" class="btn btn-primary btn-lg float-end">รับฝาก</a>

        @foreach (var item in Model.Item1.Reverse())
        {
            @* info section *@

            <div id="postBox" class="col-sm-12 col-lg-5 col-xl-4 ">

                @* Poster'simage *@

                <div id="box" class="card mb-4 box-shadow position-relative">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                            <div class="col-7">
                                <form asp-controller="MainPose" asp-action="DeleteMainPose" method="post">
                                    <input type="hidden" name="mainPoseId" value="@item.Id" />
                                    <button type="submit" class="remove"><img
                                            src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt=""></button>
                                </form>
                            </div>
                            <div class="col-4">
                                <a asp-controller="MainPose" asp-action="EditMainPose" asp-route-id="@item.Id" class="edit"><img
                                        src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                                </a>
                            </div>
                        </div>
                    }
                    
                    <div class="card-body">
                        <small class="position-absolute top-0 start-1" style="margin-top: 5px;color: grey">
                            @{
                                var x = DateTime.Now - item.CreatedTime;
                                string y = "";
                                if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = "โพสต์เมื่อซักครู่";
                                }
                                else if (x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                }
                                else if (x.Hours > 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                }
                                else if (x.Days > 0 && x.Days <= 7)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                }
                                else if (x.Days <= 365)
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                }
                                else
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                    CultureInfo("th-TH"));
                                }
                            }
                            @y
                            &#128337;
                        </small>

                        <div style="margin-top: 10px;">
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-4">
                                    <img class="profile" src="@item.Image" style="margin-bottom: 10px;">
                                </div>

                                <div class="col-sm-12 col-md-8">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <span>บัญชีธนาคาร : @item.Account</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row align-items-end">
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้อที่ : @item.Place</span>
                                </div>
                                <div class="col-12">
                                    <span>
                                        @{
                                            var a = DateTime.Now - item.CreatedTime;
                                            string b = "ช่วงเวลารับฝาก : ";
                                            b += item.CreatedTime.ToString("(HH:mm - ", new CultureInfo("th-TH"));
                                            b += item.CreatedTime.AddMinutes(item.MaxTimePose.Value).ToString("HH:mm)", new
                                            CultureInfo("th-TH"));
                                        }@b
                                    </span>
                                    @* ไปซื้อที่ไหน *@
                                </div>

                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="scan col-12">
                                <span onclick="showQR(@item.Id@item.Id,2)">แสกนจ่าย</span>
                            </div>
                        </div>
                        <div class="QRcode w-60 h-100">
                            <img id="@item.Id@item.Id" src="@item.Image" alt="" style="display: none;">
                        </div>

                        @*
                    <div class="commented" id="@item.Id">
                    ฝากแล้ว @item.Comments.Count / @item.MaxComment คน
                    </div>
                    <script>
                    console.log(2)
                    if (@item.Comments.Count >= @item.MaxComment) {
                    document.getElementById("@item.Id").style.backgroundColor = "red";
                    }
                    else if (@item.Comments.Count >= @item.MaxComment/2){
                    document.getElementById("@item.Id").style.backgroundColor = "yellow";
                    document.getElementById("@item.Id").style.color = "black";
                    }
                    </script>*@
                        <div id="test1">
                            <span id="count-@item.Id-comments" ฝากแล้ว คน>
                                ฝากแล้ว @item.Comments.Count / @item.MaxComment คน
                            </span>

                        </div>
                        <div id="post-@item.Id-comments">
                            @foreach (var comment in @item.Comments)
                            {
                                <div class="row">
                                    <div class="order_box">
                                        <div class="card p-3 shadow-sm">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center">
                                                    <span>
                                                        <small style="color: rgb(76, 158, 80);">@comment.FirstName</small>
                                                        <small class="font-weight-bold">@comment.CommentText</small>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <hr>
                        <div class="comment" onclick="showComment(@item.Id@item.Id@item.Id,@item.Comments.Count,@item.MaxComment,1  )">
                            ฝากซื้อหน่อย
                        </div>
                        
                        <div id="postComment">
                            <div class="form-group row" id="@item.Id@item.Id@item.Id" style="display: none;">
                                <form asp-controller="MainPose" asp-action="CreateComment" method="post">
                                    <input type="hidden" name="mainPoseId" value="@item.Id" />
                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" id="first-name" name="FirstName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" id="last-name" name="LastName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="comment-text">Comment Text</label>
                                        <textarea id="comment-text" name="CommentText" class="form-control"
                                            required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            @*<div class="form-group row" id="@item.Id@item.Id@item.Id" style="display: none;">
                                <form id="comment-form-@item.Id" asp-controller="MainPose" asp-action="CreateCommentByAjax" data-pose-id="@item.Id">
                                    <input type="hidden" name="mainPoseId" value="@item.Id" />
                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" id="first-name" name="FirstName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" id="last-name" name="LastName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="comment-text">Comment Text</label>
                                        <textarea id="comment-text" name="CommentText" class="form-control"
                                                  required></textarea>
                                    </div>
                                    <button type="button" id="submit-comment-@item.Id" class="btn btn-primary">Submit</button>
                                </form>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            @* comment section*@

            @* <div class="row"> *@
            @* <div> *@
            @* @foreach (var comment in item.Comments) *@
            @* ส่วนของ comment ที่ตึงมาจาก database *@
            @* { *@
            @* <p>@comment.CommentText</p> *@
            @* } *@
            @* </div> *@
            @* </div> *@
            @* Add comment section *@
            <script>
                function loadComments(mainPoseId) {
                    $.ajax({
                        url: '@Url.Action("GetComments", "MainPose")',
                        data: { mainPoseId: mainPoseId },
                        type: 'GET',
                        success: function (result) {
                            console.log('success.');
                            $('#post-' + mainPoseId + '-comments').html(result);
                        },
                        error: function () {
                            console.log('Error occurred while retrieving new comments.');
                        }
                    });
                    $.ajax({
                        url: '@Url.Action("CountComments", "MainPose")',
                        data: { mainPoseId: mainPoseId },
                        type: 'GET',
                        success: function (result) {
                            console.log('success.');
                            $('#count-' + mainPoseId + '-comments').html(result);
                        },
                        error: function () {
                            console.log('Error occurred while retrieving new comments.');
                        }
                    });


                }@*
                $(function () {
                    $('#submit-comment-@item.Id').click(function () {
                        var form = $('#comment-form-@item.Id');
                        var poseId = form.data('pose-id');
                        $.ajax({
                            url: form.attr('action'),
                            type: form.attr('method'),
                            data: form.serialize(),
                            success: function (result) {
                                if (result.success) {
                                    // Comment added successfully, update the UI
                                    var comment = result.comment;
                                    var html = '<div class="card"><div class="card-body"><h5 class="card-title">' + comment.firstName + ' ' + comment.lastName + '</h5><p class="card-text">' + comment.commentText + '</p></div></div>';
                                    $('#comment-section-' + poseId).append(html);
                                    form[0].reset();
                                } else {
                                    // Comment failed, show error messages
                                    $.each(result.errors, function (key, value) {
                                        $('#' + key + '-error').html(value.join('<br>'));
                                    });
                                }
                            },
                            error: function () {
                                // Handle error
                            }
                        });
                    });
                });*@
                // Call loadComments every 1 seconds
                setInterval(function () {
                    loadComments(@item.Id);
                    showComment();

                }, 1000);
            </script>
        }
    </div>

</div>
