@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MainPose>
    
<link rel="stylesheet" href="~/css/post.css">

<script src="~/js/post.js"></script>

<div class="container-fluid">

    <div class="row">
        <button class="btn btn-primary btn-lg float-end">New Post</button>
        @foreach (var item in Model.Reverse())
        {
            @* info section *@

            <div id="postBox" class="col-sm-12 col-md-5 col-lg-4 ">
                @* Poster'simage *@

                <div id="box" class="card mb-4 box-shadow ">
                    <div class="card-body">
                        <div><img class="rounded-circle" src="@item.Image"></div>
                        <div>
                            <p>@item.FirstName @item.LastName</p> @* ชื่อ - สกุล*@
                            <p>เบอร์โทรศัพท์ : @item.Phone</p> @* เบอร์โทร *@
                            <p>ไปซื้อที่ : @item.Place</p> @* ไปซื้อที่ไหน *@
                        </div>
                        <hr>
                        </hr>
                        <div class="comment" onclick="showComment(@item.Id)">
                            ฝากซื้อหน่อยจิ
                        </div>
                        <div id="postComment">
                            <form method="post" asp-action="CreateComment">
                                <input type="hidden" name="MainPoseId" value="@item.Id" />
                                <div class="form-group row" id="@item.Id" style="display: none;">
                                    <textarea class="form-control" name="CommentText" id="CommentText"></textarea>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div>
                                @foreach (var comment in item.Comments)
                                {
                                    <p>@comment.CommentText</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            @* comment section*@

            @* <div class="row"> *@
            @* <div> *@
            @* @foreach (var comment in item.Comments) *@
            @* ส่วนของ comment ที่ตึงมาจาก database *@
            @* { *@
            @* <p>@comment.CommentText</p> *@
            @* } *@
            @* </div> *@
            @* </div> *@
            @* Add comment section *@

        }
    </div>
</div>

