@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Post";
}
@using WebApplication1.ViewModels
@model (IEnumerable<MainPose>, CreateMainPoseViewModel, CommentViewModel)

@* @model IEnumerable<MainPose> *@

<link rel="stylesheet" href="~/css/post.css">

<script src="~/js/post.js"></script>
<script src="~/js/showCommented.js"></script>

<div id="CT" class="container-fluid">

    <div class="row">
        <a asp-action="CreateMainPose" class="btn btn-primary btn-lg float-end">New Post</a>

        @foreach (var item in Model.Item1.Reverse())
        {


            @* info section *@

            <div id="postBox" class="col-sm-12 col-lg-5 col-xl-4 ">

                @* Poster'simage *@

                <div id="box" class="card mb-4 box-shadow ">
                    <a asp-controller="MainPose" asp-action="EditMainPose" asp-route-id="@item.Id"
                        class="btn btn-primary">Edit Post</a>
                    <form asp-controller="MainPose" asp-action="DeleteMainPose" method="post">
                        <input type="hidden" name="mainPoseId" value="@item.Id" />
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                    <div class="card-body">
                        <div><img class="rounded-circle" src="@item.Image"></div>
                        <div>
                            <p>@item.FirstName @item.LastName</p> @* ชื่อ - สกุล*@
                            <p>บัญชีธนาคาร : @item.Account</p>

                            <p>เบอร์โทรศัพท์ : @item.Phone</p> @* เบอร์โทร *@
                            <p>ไปซื้อที่ : @item.Place</p> @* ไปซื้อที่ไหน *@
                        </div>

                        <div class="commented" onclick="showCommented()">
                            ฝากแล้ว @item.Comments.Count / @item.MaxComment คน
                        </div>
                        <div class="all_comment">
                            <div id="" style="display: block;">
                                @foreach (var comment in item.Comments)
                                {
                                    <div class="row">
                                        <div>
                                            <p>@comment.CommentText</p>

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>

                        <hr>

                        <div class="comment" onclick="showComment(@item.Id)">
                            ฝากซื้อหน่อย
                        </div>
                        <div id="postComment">
                            <div class="form-group row" id="@item.Id" style="display: none;">
                                <form asp-controller="MainPose" asp-action="CreateComment" method="post">
                                    <input type="hidden" name="mainPoseId" value="@item.Id" />

                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" id="first-name" name="FirstName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" id="last-name" name="LastName" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="comment-text">Comment Text</label>
                                        <textarea id="comment-text" name="CommentText" class="form-control"
                                            required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* comment section*@

            @* <div class="row"> *@
            @* <div> *@
            @* @foreach (var comment in item.Comments) *@
            @* ส่วนของ comment ที่ตึงมาจาก database *@
            @* { *@
            @* <p>@comment.CommentText</p> *@
            @* } *@
            @* </div> *@
            @* </div> *@
            @* Add comment section *@

        }
    </div>
</div>
@*<div class="album py-5" >
<div class="container">

<a asp-action="CreateMainPose" class="btn btn-primary">Create Post</a>
<div class="row">
@foreach (var item in Model.mainPose.Reverse())
{
<div class="col-md-4 ">
<div class="card mb-4 box-shadow ">
@if (item.Image == null)
{
<div><h2>No QR Code</h2></div>
}
else
{
<img class="card-img-top" src="@item.Image" alt="Card image cap">
}

<div class="card-body">
<p class="card-text">@item.FirstName @item.LastName @item.Section @item.Phone</p>
<p class="card-text">@item.Place</p>
<p><h2>Comment</h2></p>
<div class="row">
<div>
@foreach (var comment in item.Comments)
{
<p>@comment.CommentText</p>
}
</div>
</div>
</div>
</div>
</div>
<div>
<form method="post" asp-action="CreateComment">
<input type="hidden" name="MainPoseId" value="@item.Id" />
<div class="form-group">
<label for="CommentText">Comment:</label>
<textarea class="form-control" name="CommentText" id="CommentText"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
}
</div>
</div>
</div>
*@
@*<form method="post" asp-action="CreateMainPose" enctype="multipart/form-data">
<div class="form-group">
<label asp-for="ViewModels.mainPoseVM.FirstName">FirstName</label>
<input asp-for="mainPoseVM.FirstName" class="form-control" placeholder="Enter FirstName">
<span asp-validation-for="mainPoseVM.FirstName" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="mainPoseVM.LastName">LastName</label>
<input asp-for="mainPoseVM.LastNam((char)e" class="form-control" placeholder="Enter LastName">
<span asp-validation-for="mainPoseVM.LastName" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="mainPoseVM.Phone">Phone</label>
<input asp-for="mainPoseVM.Phone" class="form-control" placeholder="Enter Phone">
<span asp-validation-for="mainPoseVM.Phone" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="mainPoseVM.Place">Place</label>
<input asp-for="mainPoseVM.Place" class="form-control" placeholder="Enter Place">
<span asp-validation-for="mainPoseVM.Place" class="text-danger"></span>
</div>
<div class="form-group">
<label asp-for="mainPoseVM.Image">Image</label>
<input asp-for="mainPoseVM.Image" type="file" class="form-control" placeholder="Enter Image">
<span asp-validation-for="mainPoseVM.Image" class="text-danger"></span>
</div>
<button type="submit" class="btn btn-primary">Submit Pose</button>
</form>*@