@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MainPose>
<link rel="stylesheet" href="~/css/post.css">

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Reverse())
        {
            @* info section *@

            <div id="postBox" class="col-sm-12 col-md-5 col-lg-4 ">
                @* Poster'simage *@

                <div id="box" class="card mb-4 box-shadow h-100">
                    <div class="card-body">
                        <div><img class="rounded-circle" src="@item.Image"></div>
                        <div>
                            <p>@item.FirstName @item.LastName</p> @* ชื่อ - สกุล*@
                            <p>เบอร์โทรศัพท์ : @item.Phone</p> @* เบอร์โทร *@
                            <p>ซื้อที่ไหนร ร้านอะไร : @item.Place</p> @* ไปซื้อที่ไหน *@
                        </div>
                    </div>
                </div>
            </div>





            @* comment section *@
            @* <p> *@
            @* <h2>Comment</h2> *@
            @* </p> *@
            @* <div class="row"> *@
            @* <div> *@
            @* @foreach (var comment in item.Comments) *@
            @* ส่วนของ comment ที่ตึงมาจาก database *@
            @* { *@
            @* <p>@comment.CommentText</p> *@
            @* } *@
            @* </div> *@
            @* </div> *@
            @* Add comment section *@
            @* <div>
        <form method="post" asp-action="CreateComment">
        <input type="hidden" name="MainPoseId" value="@item.Id" />
        <div class="form-group">
        <label for="CommentText">Comment:</label>
        <textarea class="form-control" name="CommentText" id="CommentText"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div> *@
        }
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>


