@{
    ViewData["Title"] = "ฝากหน่อย";
}
@using System.Globalization;
@using WebApplication1.ViewModels
@model (IEnumerable<Deposit>, CreateDepositViewModel, CreateCommentDepositViewModel)

<link rel="stylesheet" href="~/css/Deposit.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <a asp-action="CreateDeposit" class="btn btn-primary btn-lg float-end">ฝากซื้อ</a>
        @foreach (var item in Model.Item1.Reverse())
        {
            <div id="postBox" class="col-sm-12 col-lg-5 col-xl-4 ">
                <div id="box" class="card mb-4 box-shadow position-relative">
                    <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                        <div class="col-7">
                            <form asp-controller="Deposit" asp-action="DeleteDeposit" method="post">
                                <input type="hidden" name="depositId" value="@item.Id" />
                                <button type="submit" class="remove">
                                    <img src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt="">
                                </button>
                            </form>
                        </div>
                        <div class="col-4">
                            <a a asp-controller="Deposit" asp-action="EditDeposit" asp-route-id="@item.Id" class="edit">
                                <img src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <small class="position-absolute top-0 start-1" style="margin-top: 0px;color: grey">
                            @{
                                var x = DateTime.Now - item.CreatedTime;
                                string y = "";
                                if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = "โพสต์เมื่อซักครู่";
                                }
                                else if (x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                }
                                else if (x.Hours > 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                }
                                else if (x.Days > 0 && x.Days <= 7)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                }
                                else if (x.Days <= 365)
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                }
                                else
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                    CultureInfo("th-TH"));
                                }
                            }
                            @y
                            &#128337;
                        </small>

                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4">
                                <img class="profile" src="@item.Icon" style="margin-bottom: 10px;">
                            </div>

                            <div class="col-sm-12 col-md-8">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้อที่ไหน : @item.Place </span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้ออะไร : @item.Food</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>เอามาส่งที่ไหน : @item.PlaceDeliver</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>เอามาส่งเมื่อไร : @item.MaxTimePose</span>
                                </div>
                            </div>
                            <div class="accept" onclick="">
                                เดี๋ยวไปซื้อให้
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
