@{
    ViewData["Title"] = "ข้อมูลผู้ใช้";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@using System.Globalization;

@model (WebApplication1.ViewModels.DashboardVM , AppUser)

<link rel="stylesheet" href="~/css/DashboardM.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">
<script src="~/js/post.js"></script>


<div class="container">
    @* user info *@
    <div id="fCon">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <img class="user-img" src="@Model.Item2.Icon">
            <div class="user-info">
                <h3 class="p-3">ข้อมูลผู้ใช้ </h3>
                <p>ชื่อ-นามสุล: @Model.Item2.FirstName  @Model.Item2.LastName</p>
                <p>ชื่อเล่น: @Model.Item2.NickName</p>
                <p>เบอร์โทรศัพท์: @Model.Item2.Phone</p>
                <P>เลขที่บัญชี: @Model.Item2.Account<P></P>
                <p>เซค: @Model.Item2.Section</p>
            </div>
        </div>
    </div>
    @* dashborad button *@
    <div class="row">
        <div class="col-12 p-3">
            <div class="d-flex">
                <div class="user-opt p-1">
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="MainPose" asp-action="CreateMainPose">สร้างการรับฝาก</a>
                </div>
                <div class="user-opt p-1">
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Deposit" asp-action="CreateDeposit">สร้างการฝากซื้อ</a>
                </div>
                <div class="user-opt p-1">
                    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">แก้ไขบัญชีผู้ใช้</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboardPost col-12">
            <h1>กระดานการ รับ/ฝาก ของผู้ใช้</h1>
            <hr>
    @* mainpost *@
            <div class="container">
            <h2 class="display-6 fw-normal">การรับฝาก</h2>
                <div class="album py-2 justify-content-center">  @*bg-light *@
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        @foreach (var item in Model.Item1.MainPoses) @*.Reverse()*@
                        {
                            @* info section *@
                            <div id="postBox" class="col-sm-12 col-md-12 col-xl-5 ">
                                @* Poster'simage *@
                                <div id="box" class="card mb-4 box-shadow position-relative">
                                        @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.Identity.Name == item.Email))
                                        {

                                            <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                                                <div class="col-7">
                                                    <form asp-controller="MainPose" asp-action="DeleteMainPose2" method="post">
                                                        <input type="hidden" name="mainPoseId" value="@item.Id" />
                                                        <button type="submit" class="remove"><img
                                                                src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt=""></button>
                                                    </form>
                                                </div>
                                                <div class="col-4">
                                                    <a asp-controller="MainPose" asp-action="EditMainPose" asp-route-id="@item.Id" class="edit"><img
                                                            src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="status-radio d-flex justify-content-around position-absolute top-0 p-1">
                                                    @* wait *@
                                                        <div class="waitB">
                                                            <input id="wait-btn-@item.Id" class="wait-btn" type="radio" name="radio-status-@item.Id"  onclick="status('@item.Id','รอ')">
                                                        </div>

                                                    @* process *@
                                                        <div class="processB">
                                                        <input id="process-btn-@item.Id" class="process-btn" type="radio" name="radio-status-@item.Id"  onclick="status('@item.Id','กำลังไปส่ง')">
                                                        </div>

                                                    @* finish *@
                                                        <div class="finishB">
                                                        <input  id="finish-btn-@item.Id" class="finish-btn" type="radio" name="radio-status-@item.Id"  onclick="status('@item.Id','ส่งแล้ว')">
                                                        </div>
                                            </div>
                                        }else{
                                            <div class="status-radio d-flex justify-content-around position-absolute top-0 p-1">
                                                    @* wait *@
                                                        <div class="waitB">
                                                            <input id="wait-btn-@item.Id" class="wait-btn" type="radio" name="radio-status-@item.Id" value="other">
                                                        </div>

                                                    @* process *@
                                                        <div class="processB">
                                                        <input id="process-btn-@item.Id" class="process-btn" type="radio" name="radio-status-@item.Id" value="other">
                                                        </div>

                                                    @* finish *@
                                                        <div class="finishB">
                                                        <input  id="finish-btn-@item.Id" class="finish-btn" type="radio" name="radio-status-@item.Id" value="other">
                                                        </div>
                                            </div>
                                        }
                                <div class="card-body">
                                    <small class="position-absolute top-0 start-1" style="margin-top: 5px;color: grey">
                                        @{
                                                var x = DateTime.Now - item.CreatedTime;
                                                string y = "";
                                                if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                                {
                                                    y = "โพสต์เมื่อซักครู่";
                                                }
                                                else if (x.Hours <= 0 && x.Days <= 0)
                                                {
                                                    y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                                }
                                                else if (x.Hours > 0 && x.Days <= 0)
                                                {
                                                    y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                                }
                                                else if (x.Days > 0 && x.Days <= 7)
                                                {
                                                    y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                                }
                                                else if (x.Days <= 365)
                                                {
                                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                                }
                                                else
                                                {
                                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                                    CultureInfo("th-TH"));
                                                }
                                            }
                                            @y&#128337;
                                    </small>
                                    <div style="margin-top: 10px;">
                                        <div id="status-@item.Id-Post" class="position-absolute" style="color:white;">
                                            @if(item.StatePost == "รอ")
                                            {
                                                <small>รอ</small>
                                            }else if(item.StatePost == "กำลังไปส่ง")
                                            {
                                                <small>กำลังไปส่ง</small>
                                            }else if(item.StatePost == "ส่งแล้ว")
                                            {
                                                <small>ส่งแล้ว</small>
                                            }
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-sm-12 col-md-4">
                                                <img class="profile" src="@item.Icon" style="margin-bottom: 10px;">
                                            </div>
                                            <div class="col-sm-12 col-md-8">
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-12">
                                                        <span>บัญชีธนาคาร : @item.Account</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row align-items-end">
                                            <div class="col-12" style="margin-top:5px;">
                                                <span>ไปซื้อที่ : @item.Place</span>
                                            </div>
                                            <div class="col-12">
                                                <span>
                                                    @{
                                                        var a = DateTime.Now - item.CreatedTime;
                                                        string b = "จะไปซื้อในอีก : ";
                                                        b += item.MaxTimePose + " นาที ";
                                                        b += item.CreatedTime.ToString("(HH:mm - ", new CultureInfo("th-TH"));
                                                        b += item.CreatedTime.AddMinutes(item.MaxTimePose.Value).ToString("HH:mm)", new
                                                        CultureInfo("th-TH"));
                                                    }@b
                                                </span>
                                                @* ไปซื้อที่ไหน *@
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        function status(mainPoseId, status) {
                                            $.ajax({
                                                url: '@Url.Action("StateMainPose", "MainPose")',
                                                data: { id: mainPoseId, status: status },
                                                type: 'POST',
                                                success: function (result) {
                                                    console.log(result);
                                                    // Do something with the result, if needed
                                                },
                                                error: function () {
                                                    console.log('Error occurred while confirming comment.');
                                                }
                                            });
                                            
                                        } 

                                    </script>
                                    <script>
                                        if(document.getElementById("status-@item.Id-Post").innerText == "รอ"){
                                            document.getElementById("wait-btn-@item.Id").checked = true;
                                            if(document.getElementById("wait-btn-@item.Id").value === "other"){
                                                document.getElementById("wait-btn-@item.Id").disabled = false;
                                                document.getElementById("process-btn-@item.Id").disabled = true;
                                                document.getElementById("finish-btn-@item.Id").disabled = true;
                                            }
                                            
                                        }else if(document.getElementById("status-@item.Id-Post").innerText == "กำลังไปส่ง"){
                                            document.getElementById("process-btn-@item.Id").checked = true;
                                            if(document.getElementById("process-btn-@item.Id").value === "other"){
                                                document.getElementById("wait-btn-@item.Id").disabled = true;
                                                document.getElementById("process-btn-@item.Id").disabled = false;
                                                document.getElementById("finish-btn-@item.Id").disabled = true;
                                            }
                                        }else{
                                            document.getElementById("finish-btn-@item.Id").checked = true;
                                            if(document.getElementById("finish-btn-@item.Id").value === "other"){
                                                document.getElementById("wait-btn-@item.Id").disabled = true;
                                                document.getElementById("process-btn-@item.Id").disabled = true;
                                                document.getElementById("finish-btn-@item.Id").disabled = false;
                                            }
                                        }       
                                    </script>
                                    <div class="row align-items-center">
                                        <div class="scan col-12">
                                            <span onclick="showQR(@item.Id@item.Id,2)">แสกนจ่าย</span>
                                        </div>
                                    </div>
                                    <div class="QRcode d-flex justify-content-center">
                                        <img id="@item.Id@item.Id" src="@item.Image" alt="" style="display: none;">
                                    </div>
                                    <div id="test1">
                                        <span id="count-@item.Id-comments" onclick="showCom('post-@item.Id-comments')"></span>
                                    </div>
                                    <div id="post-@item.Id-comments" style="display: none;">
                                    </div>
                                    <script>
                                        function showCom(id){
                                            console.log(id);
                                            var com = document.getElementById(id);
                                            console.log(com.style.display);
                                            if (com.style.display === "none") {
                                                com.style.display = "block";
                                            } else {
                                                com.style.display = "none";
                                            }
                                        }
                                    </script>
                                    <script>
                                        function loadComments(mainPoseId) {
                                            $.ajax({
                                                url: '@Url.Action("GetComments2", "MainPose")',
                                                data: { mainPoseId: mainPoseId },
                                                type: 'GET',
                                                success: function (result) {
                                                    console.log('success.');
                                                    $('#post-' + mainPoseId + '-comments').html(result);
                                                },
                                                error: function () {
                                                    console.log('Error occurred while retrieving new comments.');
                                                }
                                            });
                                            $.ajax({
                                                url: '@Url.Action("CountComments", "MainPose")',
                                                data: { mainPoseId: mainPoseId },
                                                type: 'GET',
                                                success: function (result) {
                                                    console.log('success.');
                                                    $('#count-' + mainPoseId + '-comments').html(result);
                                                },
                                                error: function () {
                                                    console.log('Error occurred while retrieving new comments.');
                                                }
                                            });
                                        }
                                            @*function showComment(id, current, max, state) {
                                                console.log("click");
                                                var main = document.getElementById(id);
                                                console.log(main);
                                                console.log(main.style.display);
                                                if (state === 1) {
                                                    if (main.style.display === "block") {
                                                        main.style.display = "none";
                                                    } else {
                                                        main.style.display = "block";
                                                    }
                                                    if (current >= max) {
                                                        main.style.textAlign = "center";
                                                        main.innerHTML = "เต็มแล้วจ้า";
                                                    }
                                                }
                                            }*@
                                        setInterval(function () {loadComments(@item.Id);}, 1000);

                                    </script>
                                    <hr>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <hr>
            </div>

            @* Deposit *@
            <h2 class="display-6 fw-normal">การฝากซื้อ</h2>
            <div class="album py-2 justify-content-center">  @*bg-light *@
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model.Item1.Deposites)
                {
                <div id="postBox" class="col-sm-12 col-md-12 col-xl-5 ">
                    <div id="box" class="card mb-4 box-shadow position-relative">
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.Identity.Name == item.Email))
                            {
                                <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                                    <div class="col-7">
                                        <form asp-controller="Deposit" asp-action="DeleteDeposit2" method="post">
                                            <input type="hidden" name="depositId" value="@item.Id" />
                                            <button type="submit" class="remove">
                                                <img src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt="">
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-4">
                                        <a a asp-controller="Deposit" asp-action="EditDeposit" asp-route-id="@item.Id" class="edit">
                                            <img src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                                        </a>
                                    </div>
                                </div>
                               
                                
                            }

                            @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.Identity.Name == item.Email))
                            {
                                   
                                <div class="status-radio d-flex justify-content-around position-absolute top-0 p-1">
                                    @* wait *@
                                    <div class="waitB">
                                        <input id="wait-btn-@item.Id" class="wait-btn" type="radio" name="radio-status-@item.Id" value="other">
                                    </div>

                                    @* process *@
                                    <div class="processB">
                                        <input id="process-btn-@item.Id" class="process-btn" type="radio" name="radio-status-@item.Id" value="other">
                                    </div>

                                    @* finish *@
                                    <div class="finishB">
                                        <input id="finish-btn-@item.Id" class="finish-btn" type="radio" name="radio-status-@item.Id" value="other">
                                    </div>
                                </div>
                            }
                            else
                            {
                            <div class="status-radio d-flex justify-content-around position-absolute top-0 p-1">
                                @* wait *@
                                <div class="waitB">
                                    <input id="wait-btn-@item.Id" class="wait-btn" type="radio" name="radio-status-@item.Id" onclick="statusDeposit('@item.Id','รอ')">
                                </div>

                                @* process *@
                                <div class="processB">
                                    <input id="process-btn-@item.Id" class="process-btn" type="radio" name="radio-status-@item.Id" onclick="statusDeposit('@item.Id','กำลังไปส่ง')">
                                </div>

                                @* finish *@
                                <div class="finishB">
                                    <input id="finish-btn-@item.Id" class="finish-btn" type="radio" name="radio-status-@item.Id" onclick="statusDeposit('@item.Id','ส่งแล้ว')">
                                </div>
                            </div> 
                            }
                        
                        <div class="card-body">
                            <small class="position-absolute top-0 start-1 p-2" style="margin-top: 0px;color: grey">
                                @{
                                    var x = DateTime.Now - item.CreatedTime;
                                    string y = "";
                                    if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                    {
                                        y = "โพสต์เมื่อซักครู่";
                                    }
                                    else if (x.Hours <= 0 && x.Days <= 0)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                    }
                                    else if (x.Hours > 0 && x.Days <= 0)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                    }
                                    else if (x.Days > 0 && x.Days <= 7)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                    }
                                    else if (x.Days <= 365)
                                    {
                                        y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                    }
                                    else
                                    {
                                        y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                        CultureInfo("th-TH"));
                                    }
                                }
                                @y&#128337;
                            </small>
                        <div style="margin-top: 10px;"></div>
                        <div class="row align-items-center">
                            <div id="status-@item.Id-Post" class="position-absolute top-0" style="color:white;margin-top: 20px">
                                    @if(item.StatePost == "รอ")
                                    {
                                        <small>รอ</small>
                                    }else if(item.StatePost == "กำลังไปส่ง")
                                    {
                                        <small>กำลังไปส่ง</small>
                                    }else if(item.StatePost == "ส่งแล้ว")
                                    {
                                        <small>ส่งแล้ว</small>
                                    }
                                </div>
                            <div class="col-sm-12 col-md-4">
                                <img class="profile" src="@item.Icon" style="margin-bottom: 10px;">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้อที่ไหน : @item.Place </span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้ออะไร : @item.Food</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>เอามาส่งที่ไหน : @item.PlaceDeliver</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>รับฝากได้ตั้งแต่ : @{
                                            string b = item.CreatedTime.ToString("HH:mm น.", new CultureInfo("th-TH"));
                                            b += " - " + item.CreatedTime.AddMinutes(item.MaxTimePose.Value).ToString("HH:mm น.", new
                                            CultureInfo("th-TH"));
                                            }@b
                                    </span>
                                </div>
                            </div>
                            <script>
                            function statusDeposit(mainPoseId, status) {
                                console.log("yoo");
                                $.ajax({
                                    url: '@Url.Action("StateMainPose", "Deposit")',
                                    data: { id: mainPoseId, status: status },
                                    type: 'POST',
                                    success: function (result) {
                                        console.log(result);
                                        // Do something with the result, if needed
                                    },
                                    error: function () {
                                        console.log('Error occurred while confirming comment.');
                                    }
                                });
                                
                            }
                           
                            </script>
                            <script>
                                if(document.getElementById("status-@item.Id-Post").innerText == "รอ"){
                                    document.getElementById("wait-btn-@item.Id").checked = true;
                                    if(document.getElementById("wait-btn-@item.Id").value === "other"){
                                        document.getElementById("wait-btn-@item.Id").disabled = false;
                                        document.getElementById("process-btn-@item.Id").disabled = true;
                                        document.getElementById("finish-btn-@item.Id").disabled = true;
                                    }
                                    
                                }else if(document.getElementById("status-@item.Id-Post").innerText == "กำลังไปส่ง"){
                                    document.getElementById("process-btn-@item.Id").checked = true;
                                    if(document.getElementById("process-btn-@item.Id").value === "other"){
                                        document.getElementById("wait-btn-@item.Id").disabled = true;
                                        document.getElementById("process-btn-@item.Id").disabled = false;
                                        document.getElementById("finish-btn-@item.Id").disabled = true;
                                    }
                                }else{
                                    document.getElementById("finish-btn-@item.Id").checked = true;
                                    if(document.getElementById("finish-btn-@item.Id").value === "other"){
                                        document.getElementById("wait-btn-@item.Id").disabled = true;
                                        document.getElementById("process-btn-@item.Id").disabled = true;
                                        document.getElementById("finish-btn-@item.Id").disabled = false;
                                    }
                                }       
                            </script>
                            <div id="post-@item.Id-commentDeposit"></div>
                            <hr>
                            <script>
                                function loadCommentDeposits(depositId) {
                                    $.ajax({
                                        url: '@Url.Action("GetCommentDeposit2", "Deposit")',
                                        data: { depositId: depositId },
                                        type: 'GET',
                                        success: function (result) {
                                            console.log('success.');
                                                $('#post-' + depositId + '-commentDeposit').html(result);
                                        },
                                        error: function () {
                                            console.log('Error occurred while retrieving new comments.');
                                        }
                                    });
                                }
                                function showComment(id, current, max, state) {
                                    console.log("click");
                                    var main = document.getElementById(id);
                                    console.log(main);
                                    console.log(main.style.display);
                                    if (state === 1) {
                                        if (main.style.display === "block") {
                                            main.style.display = "none";
                                        } else {
                                            main.style.display = "block";
                                        }
                                        if (current >= max) {
                                            main.style.textAlign = "center";
                                            main.innerHTML = "เต็มแล้วจ้า";
                                        }
                                    }
                                }
                                        
                                setInterval(function () {
                                        loadCommentDeposits(@item.Id);
                                }, 1000);
                                function showComment(id){
                                    console.log("click");
                                    if(document.getElementById(id).style.display === "none"){
                                        document.getElementById(id).style.display = "block";
                                    }else{
                                        document.getElementById(id).style.display = "none";
                                    }
                                }
                            </script>
                        </div>

                    </div>
                    </div>
                    </div>
                }
            </div>
        </div>
    </div>
    </div>
    </div>
    
</div>
