@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@using System.Globalization;

@model WebApplication1.ViewModels.DashboardVM

<link rel="stylesheet" href="~/css/post.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">

<script src="~/js/post.js"></script>

<h1 class="display-5 fw-normal">User Dashboard</h1>
<div class="album py-2 justify-content-center">  @*bg-light *@
    <a asp-controller="MainPose" asp-action="CreateMainPose" class="btn btn-primary btn-lg float-end">New Post</a>
    <div class="container bg-light">
        <h2 class="display-6 fw-normal">Your Post</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.MainPoses) @*.Reverse()*@
            {
                @* info section *@

                <div id="postBox" class="col-sm-12 col-lg-5 col-xl-4 ">

                    @* Poster'simage *@

                    <div id="box" class="card mb-4 box-shadow position-relative">

                            <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                                <div class="col-7">
                                    <form asp-controller="MainPose" asp-action="DeleteMainPose" method="post">
                                        <input type="hidden" name="mainPoseId" value="@item.Id" />
                                        <button type="submit" class="remove"><img
                                                src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt=""></button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <a asp-controller="MainPose" asp-action="EditMainPose" asp-route-id="@item.Id" class="edit"><img
                                            src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                                    </a>
                                </div>
                            </div>
                        
                        <div class="card-body">
                            <small class="position-absolute top-0 start-1" style="margin-top: 5px;color: grey">
                                @{
                                    var x = DateTime.Now - item.CreatedTime;
                                    string y = "";
                                    if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                    {
                                        y = "โพสต์เมื่อซักครู่";
                                    }
                                    else if (x.Hours <= 0 && x.Days <= 0)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                    }
                                    else if (x.Hours > 0 && x.Days <= 0)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                    }
                                    else if (x.Days > 0 && x.Days <= 7)
                                    {
                                        y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                    }
                                    else if (x.Days <= 365)
                                    {
                                        y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                    }
                                    else
                                    {
                                        y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                        CultureInfo("th-TH"));
                                    }
                                }
                                @y
                                &#128337;
                            </small>

                            <div style="margin-top: 10px;">
                                <div class="row align-items-center">
                                    <div class="col-sm-12 col-md-4">
                                        <img class="profile" src="@item.Image" style="margin-bottom: 10px;">
                                    </div>

                                    <div class="col-sm-12 col-md-8">
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <span>บัญชีธนาคาร : @item.Account</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row align-items-end">
                                    <div class="col-12" style="margin-top:5px;">
                                        <span>ไปซื้อที่ : @item.Place</span>
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            @{
                                                var a = DateTime.Now - item.CreatedTime;
                                                string b = "จะไปซื้อในอีก : ";
                                                b += item.MaxTimePose + " นาที ";
                                                b += item.CreatedTime.ToString("(HH:mm - ", new CultureInfo("th-TH"));
                                                b += item.CreatedTime.AddMinutes(item.MaxTimePose.Value).ToString("HH:mm)", new
                                                CultureInfo("th-TH"));
                                            }@b
                                        </span>
                                        @* ไปซื้อที่ไหน *@
                                    </div>

                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="scan col-12">
                                    <span onclick="showQR(@item.Id@item.Id,2)">แสกนจ่าย</span>
                                </div>
                            </div>
                            <div class="QRcode w-60 h-100">
                                <img id="@item.Id@item.Id" src="@item.Image" alt="" style="display: none;">
                            </div>

                            <div id="test1">
                                <span id="count-@item.Id-comments" ฝากแล้ว คน></span>

                            </div>
                            <div id="post-@item.Id-comments">


                            </div>

                            <script>
                                function loadComments(mainPoseId) {
                                    $.ajax({
                                        url: '@Url.Action("GetComments", "MainPose")',
                                        data: { mainPoseId: mainPoseId },
                                        type: 'GET',
                                        success: function (result) {
                                            console.log('success.');
                                            $('#post-' + mainPoseId + '-comments').html(result);
                                        },
                                        error: function () {
                                            console.log('Error occurred while retrieving new comments.');
                                        }
                                    });
                                    $.ajax({
                                        url: '@Url.Action("CountComments", "MainPose")',
                                        data: { mainPoseId: mainPoseId },
                                        type: 'GET',
                                        success: function (result) {
                                            console.log('success.');
                                            $('#count-' + mainPoseId + '-comments').html(result);
                                        },
                                        error: function () {
                                            console.log('Error occurred while retrieving new comments.');
                                        }
                                    });

                                }
                                function showComment(id, current, max, state) {
                                    console.log("click");
                                    var main = document.getElementById(id);
                                    console.log(main);
                                    console.log(main.style.display);
                                    if (state === 1) {
                                        if (main.style.display === "block") {
                                            main.style.display = "none";
                                        } else {
                                            main.style.display = "block";
                                        }
                                        if (current >= max) {
                                            main.style.textAlign = "center";
                                            main.innerHTML = "เต็มแล้วจ้า";
                                        }
                                    }
                                }
                                // Call loadComments every 5 seconds
                                setInterval(function () {
                                    loadComments(@item.Id);

                                }, 1000);
                            </script>
                            
                            <hr>

                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

    <hr>
    <div class="container-fluid" id="CT">
    <div class="row">
        <a asp-controller="Deposit" asp-action="CreateDeposit" class="btn btn-primary btn-lg float-end">ฝากซื้อ</a>

        @foreach (var item in Model.Deposites)
        {

            <div id="postBox" class="col-sm-12 col-lg-5 col-xl-4 ">
                <div id="box" class="card mb-4 box-shadow position-relative">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin")) 
                    {
                        <div class="editPost row flex-row-reverse position-absolute top-0 end-0">
                            <div class="col-7">
                                <form asp-controller="Deposit" asp-action="DeleteDeposit" method="post">
                                    <input type="hidden" name="depositId" value="@item.Id" />
                                    <button type="submit" class="remove">
                                        <img src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt="">
                                    </button>
                                </form>
                            </div>
                            <div class="col-4">
                                <a a asp-controller="Deposit" asp-action="EditDeposit" asp-route-id="@item.Id" class="edit">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3597/3597075.png" alt="">
                                </a>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <small class="position-absolute top-0 start-1" style="margin-top: 0px;color: grey">
                            @{
                                var x = DateTime.Now - item.CreatedTime;
                                string y = "";
                                if (x.Minutes <= 0 && x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = "โพสต์เมื่อซักครู่";
                                }
                                else if (x.Hours <= 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} นาทีที่แล้ว", x.Minutes);
                                }
                                else if (x.Hours > 0 && x.Days <= 0)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} ชั่วโมงที่แล้ว", x.Hours);
                                }
                                else if (x.Days > 0 && x.Days <= 7)
                                {
                                    y = string.Format("โพสต์เมื่อ {0} วันที่แล้ว ", x.Days);
                                }
                                else if (x.Days <= 365)
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM เวลา HH:mm น.", new CultureInfo("th-TH"));
                                }
                                else
                                {
                                    y = item.CreatedTime.ToString("โพสต์เมื่อ dd MMMM yyyy เวลา HH:mm น.", new
                                    CultureInfo("th-TH"));
                                }
                            }
                            @y
                            &#128337;
                        </small>

                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-4">
                                <img class="profile" src="@item.Icon" style="margin-bottom: 10px;">
                            </div>

                            <div class="col-sm-12 col-md-8">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>@item.FirstName @item.LastName</span> @* ชื่อ - สกุล*@
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <span>โทร : @item.Phone</span> @* เบอร์โทร *@
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-end">
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้อที่ไหน : @item.Place </span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>ไปซื้ออะไร : @item.Food</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>เอามาส่งที่ไหน : @item.PlaceDeliver</span>
                                </div>
                                <div class="col-12" style="margin-top:5px;">
                                    <span>รับฝากได้ตั้งแต่ : @{
                                            string b = item.CreatedTime.ToString("HH:mm น.", new CultureInfo("th-TH"));
                                            b += " - " + item.CreatedTime.AddMinutes(item.MaxTimePose.Value).ToString("HH:mm น.", new
                                            CultureInfo("th-TH"));
                                        }@b
                                    </span>
                                </div>
                            </div>
                            <div id="post-@item.Id-comments">
                            @foreach (var comment in @item.CommentDeposits)
                            {
                                <div class="row">
                                    <div class="order_box">
                                        <div class="card p-3 shadow-sm">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <small style="color: rgb(76, 158, 80);">@comment.FirstName</small>
                                                        </div>
                                                        <div class="col-9">
                                                            <small class="font-weight-bold">@comment.CommentText</small>
                                                        </div>
                                                        <div></div>
                                                        <div class="slip">
                                                            <img id="Image-@comment.Id-comment" src="@comment.Image" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form asp-controller="MainPose" asp-action="DeleteComment" method="post">
                                        <input type="hidden" name="commentId" value="@comment.Id" />
                                        <button type="submit" class="remove">
                                            <img src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt="">
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>

                            <script>
                                function showComment(id){
                                    console.log("click");
                                    if(document.getElementById(id).style.display === "none"){
                                        document.getElementById(id).style.display = "block";
                                    }else{
                                        document.getElementById(id).style.display = "none";
                                    }
                                }
                            </script>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>


</div>